.clearfix {
    clear: both;
}
.header {
    background: url("../images/shopheader_bg.jpg");
    background-size: cover;
}
.header .header_nav {
    height: 44px;
    text-align: center;
    position: relative;
    padding: 5px 0;
    box-sizing: border-box;
    margin-bottom: 40px;
}
.header .header_nav img {
    width: 32px;
    opacity: 0.5;
}
.header .header_nav .header_nav_left {
    float: left;
    display: inline-block;
    width: 20%;
}
.header .header_nav .header_nav_center {
    float: left;
    display: inline-block;
    width: 60%;
    line-height: 44px;
}
.header .header_nav .header_nav_right {
    float: left;
    display: inline-block;
    width: 20%;
}
.header .header_detail {
    box-sizing: border-box;
    padding-top: 40px;
    position: relative;
    height: 80px;
    background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)); /* Firefox 3.6 - 15 */
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)); /* 标准的语法（必须放在最后） */;
}
.header .header_detail .header_detail_left {
    box-sizing: border-box;
    padding-left: 12px;
    float: left;
    width: 70%;
    position: relative;
}
.header .header_detail .header_detail_left .arrow-right {
    float: left;
    width: 25px;

}
.header .header_detail .header_detail_left .shop_rates img {
    width: 82px;
    float: left;
}
.header .header_detail .header_detail_left .shop_rates .rates_text {
    float: left;
    margin-left: 10px;
}
.header .header_detail .header_detail_left .shop_rates p {
    text-decoration: none;
    color: #fff;
    font-size: 6px;
}
.header .header_detail .header_detail_left .logo_thumbnail {
    width: 82px;
}


.header .header_detail .header_detail_right {
    float: right;
    width: 30%;
}
.header .header_detail .header_detail_right .contact {
    position: relative;
    width: 90px;
    height: 27px;
    border-radius: 2px;
    background: #fe6000;
    color: #fff;
    font-size: 6px;
}
.header .header_detail .header_detail_right .contact p {
    float: left;
    line-height: 27px;
}
.header .header_detail .header_detail_right .contact img {
    float: left;
    width: 27px;
}

/*导航*/
.nav {
    background: #fff;
    height: 52px;
    border-bottom: 1px solid #757575;
}
.nav img {
    width: 32px;
}
.nav .nav_left {
    width: 90%;
    box-sizing: border-box;
    background: blue;
}
.nav .nav_left ul {
    list-style: none;
    /*padding-left: 4%;*/
    position: relative;
}
.nav .nav_left ul li {
    float: left;
    text-align: center;
    font-size: 8px;
    margin-left: 4%;
    width: 25%;
}
.nav .nav_left ul li a {
    display: block;
    color: #757575;
    text-decoration: none;
}
.nav .nav_left .shop {
    color: #fe6000;
    border-bottom: 2px solid #fe6000;
}

.nav .nav_right {
    float: right;
    width: 15%;
    border-left: 1px solid #757575;
    text-align: center;
}
.nav .nav_right a {
    text-decoration: none;
    color: #757575;
    font-size: 6px;
}
.nav .nav_right img {
    width: 32px;
}

/*内容*/
.content {
    padding-top: 10px;
    box-sizing: border-box;
    background: #eeeeee;
}
.content .content_header {
    margin: 0 auto;
    width: 90%;
    box-sizing: border-box;
    height: 1px;
    border-left: 100px solid #8a8a8a;
    border-right: 100px solid #8a8a8a;
}
.content .content_header p {
    color: #8a8a8a;
    text-align: center;
    line-height: 6px;
}